<header class="site-header">
  <ul class="inline site-header__left">
    <li class="site-header__left--item">
      <a class="site-header__logo">About</a>
    </li>
    <li class="site-header__left--item">
      <a class="site-header__logo">Menu</a>
    </li>
  </ul>
  <ul class="inline site-header__right">
    <li class="site-header__right--item">
      <a class="fb">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li class="site-header__right--item">
      <a class="twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="site-header__right--item">
      <a class="instagram">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
  </ul>
</header>
