<header class="site-header">
  <ul class="inline site-header__left">
    <li class="site-header__left--item">
      <a href="/about">About</a>
    </li>
    <li class="site-header__left--item">
      <a>Menu</a>
    </li>
  </ul>

  <a class="site-header__logo" href="/"></a>

  <ul class="inline site-header__right">
    <li class="site-header__right--item">
      <a href="https://www.facebook.com/LuncheryVN" target="_blank" class="fb">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li class="site-header__right--item">
      <a class="twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="site-header__right--item">
      <a class="instagram">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
  </ul>
</header>
