{% assign items = include.items %}
{% assign offset = include.offset %}
{% assign limit = include.limit %}

<div class="post-list">
  {% for post in items offset: offset limit: limit %}
  <div class="post-list__post">
    <header>
      <a style="background-image:url({{post.image}})"
         class="post-list__post-image" href="{{post.url}}">
      </a>
      <h6 class="post-list__post__title">
        <a href="{{post.url}}">{{ post.title }}</a>
      </h6>
    </header>
  </div>
  {% endfor %}
</div>
