.first-post
  margin-bottom: 150px

.first-post__read-more
  text-align: center
  margin-top: 20px

.first-post__read-more--inner
  padding: 6px 7px
  background: #444
  font-size: .9em
  border-radius: 2px
  color: #eee
  &:hover
    color: lighten(#eee, 10)
    background: darken(#444, 10)
