.post
  +outer-container

.post__top-image
  position: relative
  background: url('http://www.marechiaros.com/images/featured/Italian-Food-El-Cajon.jpg')

  background-repeat: no-repeat
  background-position: center
  background-size: cover

  height: 500px

.post__inner
  position: relative
  background: white
  padding: 1em
  border-radius: 2px
  border: 1px solid #eaecee

.post__meta
  font-size: .9rem

.post__title
  padding: 25px 0
  text-align: center
  a
    color: #D14D2B
    &:hover
      color: darken(#D14D2B, 10)


.post__author
  position: absolute
  left: 50%
  width: 70px
  height: 70px
  top: -35px
  margin-left: -35px

  img
    width: 100%
    height: 100%
    border-radius: 50%

.post__header
