.post
  +outer-container

.post__top-image
  position: relative
  background: url('http://www.marechiaros.com/images/featured/Italian-Food-El-Cajon.jpg')

  background-repeat: no-repeat
  background-position: center
  background-size: cover

  height: 500px

.post__inner
  background: white
  padding: 1em
  border-radius: 2px
  border: 1px solid #eaecee

.post__meta
  font-size: .9rem

.post__title
  padding: 25px 0
  text-align: center

.post__header
